<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>OcultoPedidos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list *ngFor="let pedido of pedidos">
    <ion-item >
      <ion-label>Pedido: {{pedido.numeroPedido}}</ion-label>
      <ion-button slot="end" color="tertiary" [routerLink]="'/detallepedido'">Ver detalle</ion-button>
    </ion-item>

  </ion-list>


</ion-content>
