<ion-header >
  <ion-toolbar>
    <ion-title>Login</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon name="bag-handle"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <h1 class="ion-text-center" >Iniciar Sesion</h1>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre" [(ngModel)]="loginUser"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="passwordUser" ></ion-input>
      </ion-item>
      <br>
      <div class="boton">
        <ion-button expand="block" color="primary" (click)="iniciar()" >Iniciar sesion</ion-button>
        <br>
        <ion-button  expand="block" color="primary" [routerLink]="['/registro']" >Registrarse</ion-button>

        <a href="" class="ion-text-center" [routerLink]="['/password-olvidada']">¿Has olvidado tu contraseña?</a>
        <a href="" class="ion-text-center" [routerLink]="['/admin']">Ingresar como administrador</a>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>