<ion-content [fullscreen]="true">
  <ion-header slot="fixed" class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center">OcultoStudio</ion-title>
      <ion-buttons slot="start" mode="md">
        <ion-back-button defaultHref="/home" color="white"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button fill="clear" size="large" color="light" [routerLink]="'/carrito'">
          <!--bag para verificar el carrito-->
          <ion-icon name="bag-handle" slot="icon-only"></ion-icon>

        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div [style.backgroundImage]="'url(' + item.cover + ')'" class="bg"></div>
  <ion-label>
    <h4>{{item.name | uppercase }}</h4>
    <p class="desc">{{item.description}}</p>
    <p>
      <ion-text color="medium"></ion-text>
      <ion-text color="white" class="price">
        $<span>{{item.price}}</span>
      </ion-text>
    </p>
  </ion-label>

  <ion-item>
    <ion-select label="Talla" placeholder="Seleccione una talla">
      <ion-select-option value="S">S</ion-select-option>
      <ion-select-option value="XS">XS</ion-select-option>
      <ion-select-option value="M">M</ion-select-option>
      <ion-select-option value="L">L</ion-select-option>
      <ion-select-option value="XL">XL</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-item>
    <ion-button  (click)="restarCantidad()" color="tertiary">-</ion-button>
    <ion-input [(ngModel)]="cantidad" readonly class="ion-text-center"></ion-input>
    <ion-button  (click)="sumarCantidad()" color="tertiary">+</ion-button>
  </ion-item>



</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button size="large" expand="block" color="tertiary" [strong]="true" (click)="navigateToCarrito()" color="tertiary">
      <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
      <ion-text>Agregar al carro</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>