<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      OcultoAdmin
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
      <ion-icon id="ef" name="bag-handle" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="informacion , ion-text-center">

      <a href="" [routerLink]="['/adminproductos']">Productos</a>
      <a href="" [routerLink]="['/adminusuarios']">Usuarios</a>
      <a href="" [routerLink]="['/adminpedidos']">Pedidos</a>

  </div>


</ion-content>
