<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Datos de Envío</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dirección de Envío</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Comuna</ion-label>
              <ion-input [(ngModel)]="direccion.comuna" [readonly]="!editar"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Región</ion-label>
              <ion-input [(ngModel)]="direccion.region" [readonly]="!editar"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Nombre del Cliente</ion-label>
              <ion-input [(ngModel)]="direccion.nombreCliente" [readonly]="!editar"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Dirección de su Domicilio</ion-label>
              <ion-input [(ngModel)]="direccion.direccion" [readonly]="!editar"></ion-input>
            </ion-item>

            <ion-button (click)="editarDireccion()" color="tertiary">{{ editar ? 'Guardar' : 'Editar' }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
