<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">OcultoStudio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header class="ion-text-center">
        <h3>Cambiar contraseña</h3>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Nombre de usuario" labelPlacement="floating" placeholder="Ingrese su nombre de usuario" [(ngModel)]="nombreUsuario" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Nueva Contraseña" labelPlacement="floating" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" type="password" placeholder="Confirme su contraseña" [(ngModel)]="confirmarPassword" ></ion-input>
      </ion-item>
      <br>
      <div class="botones">
        <ion-button  (click)="cambiar()" color="tertiary">Confirmar</ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>