ion-card {
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #424141;
    color: #dddada;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #535050;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #ffffff;
  }
  
  .total {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  