ion-card {
    background-color:rgba(255, 255, 255, 0.3);
    height: 14rem;
    margin: 0.3rem 0;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid var(--ion-color-light);

    ion-thumbnail{
        background-color: transparent;
        width: 100%;
        height: 10rem;
        margin-bottom: 10px;

        ion-img {
            height: 100%;
            border-radius: 8px;
        }
    }

    ion-label {
        font-size: 0.9rem;
    }

    ion-label, p {
        margin: 0 5px;
        background-color: transparent;
    }

    p {
        background-color: transparent;
        font-size: 0.85rem;
        margin-top: 8px;
        font-weight: 500;
        letter-spacing: 0;
        ion-text.rating {
            float: right;
            ion-icon {
                font-size: 0.8rem;
            }
        }
    }
}    