<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <h3 class="ion-text-center">Recuperar contraseña</h3>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Correo electronico" labelPlacement="floating" placeholder="Ingrese su correo" type="email"></ion-input>
      </ion-item>
      <br>

      <br>
      <div class="boton">
        <ion-button expand="block" color="tertiary" (click)="enviar()" >Enviar</ion-button>
        <br>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>